/***********************************************

Autores: Lucas Moltedo - Martín Reser

***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/


/* ESTILOS GENERALES*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* ESTILOS DE BARRA DE NAVEGACIÓN */

#menu-principal {
    display: flex;
    flex-direction: row;
    background-color: #ffaa77;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
}

#btn-perfil {
    margin-right: auto;
    padding: 7px 15px;
} 

#btn-carrito {
    padding: 7px 15px;
}

.boton-menu {
    background-color: #fffda0;
    flex: initial; /* 0 1 auto */
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 14px 20px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.boton-menu:hover {
    border: 2px solid #111111;
    transform: scale(1.1);
}


.boton-menu:nth-child(4) { /* Seleccionamos el botón de ofertas */
    background-color: rgb(255, 68, 68);
    color: #111111;
}

/* ESTILO MAIN - Contenedor central - productos */

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#contenedor-central {
    flex: 85%;
    padding: 10px 0px;
    background-color: #c2c9c2;
}

.plantilla-item {
    text-align: center;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plantilla-der {
    margin: auto;
}

.plantilla-izq {
    display: flex;
    flex-direction: column;
    margin: auto;
} 

.plantilla-izq > button {
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #14b914;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.plantilla-izq > button:hover{
    border: 2px solid #111111;
    transform: scale(1.1);
}

h2 {
    margin-bottom: 15%;
}

.precio {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 15%;
}

.medios-pago {
    margin-bottom: 5%;
    color: rgb(37, 148, 208);
    cursor: pointer;
}

h3 {
    margin-bottom: 5%;
}

.lista-detalles {
    list-style: none;
}

/* ESTILOS DEL ASIDE */

.barra-secundaria{
    flex: 15%;
    flex-flow: column nowrap;
    margin-right: 1%;
    background-color: #5e9ea1;
}

.plantilla-secundaria{
    padding: 20px 40%;
    margin: auto;
    background-color: #faead6;
}

/* ESTILOS DEL FOOTER */

footer {
    text-align: center;
    background-color: #ffaa77;
}